<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  

    <table>
    	<tr>
    		<td><%=  username %></td>
    		<td><%= password %></td>
    	</tr>

    </table>
  </body>
</html>
